main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 126px); /* subtract navbar's && footer's height*/
  min-height: calc(100svh - 126px); /* subtract navbar's && footer's height*/
}
